
<ion-view view-title="咭妈妈" class="a1">

  <div taba>
</div>
  <ion-content>
    <div class="imgwrap">
      <img src="img/a1img1.jpg" alt="">
    </div>
    <section class="main-content">
      <h2>咭妈妈</h2>
      <img src="img/a1img4.png" alt="" class="a1img4">
      <div class="list-content">
        <h3><span>咭妈妈</span> — 咭星坞为妈妈们设计的交流平台</h3>
        <ul>
          <li>随时随地关注咭星坞推出的最新精品课程</li>
          <li>报名参与咭星坞定期举办的最新活动</li>
          <li>关注一代男神的成长经历、借鉴男神的经历教育好你的宝宝</li>
          <li>与其它咭妈妈分享你的育儿心得</li>
          <li>与宝宝度过了一个开心的假期，与其它妈妈分享你的游记</li>
          <li>培养孩子的过程中碰到疑惑？看看专家们提出的意见问问其它咭妈妈有没有好的解决方案</li>
          <li>参与咭星坞每月的抽奖活动、赢取丰富奖品</li>
          <li>与你的好友们分享咭妈妈的精彩内容、到咭赏会领取丰富的奖品</li>
        </ul>
      </div>
    </section>

  </ion-content>

</ion-view>
