<ion-view view-title="咭星坞" class="a2"> 
  <div taba>
</div>
  <ion-content>
    <div class="imgwrap">
      <img src="img/a2img1.jpg" alt="" class="a2img1">
      <img src="img/weixin_erweima.png" alt="" class="a2img4">
      <p class="message">长按识别图中二维码<br>
即刻下载咭星坞APP</p>
<p class="register"><span>下载APP</span>注册即享一个月试学只需<span>300元/年</span>，VIP会籍让孩子全年无休的学习</p>
    </div>
    <section class="list-content">
      <ul>
        <li>1、海量<span>纯英语</span>儿童课程</li>
        <li>2、<span>外籍配音</span>老师、纯正美式英语教授</li>
        <li>3、全方位课程设计：<span>双语国际、人际交往、艺术创造、
数学逻辑、科学探索、健体塑行</span></li>
        <li>4、多姿多彩的课程设计,让学习更有乐趣：<span>绘本、故事、
儿歌、游戏</span></li>
        <li>5、精美制作、提高孩子的学习兴趣</li>
        <li>6、持续不断的退出精品课程</li>
        <li>7、全面支持<span>PC、微信、安卓、IOS、电视机顶盒</span></li>
        <li>8、全面杜绝暴力、不雅及不健康行为、只管娱乐缺乏
教育意义</li>
        <li>9、针对中国国情开发、谢绝生搬硬套国外理念</li>
      </ul>
    </section>
  </ion-content>

</ion-view>
