<!-- <div class="a3" ng-init="A3.length=0">
    <div class="a3header">
    <a href="javascript:void(0);">
        <img src="img/background_img.png" alt="咭妈妈" />
        
    </a>
    </div>
    <div class="title">
        最新咭星坞情报喜欢就分享给你的好友吧！
    </div>
    <div class="none hide" ng-class="{ show : A3.length==0}">
    正在加载数据
    </div>
      <div class="loading" ng-show="isLoading">

                <loading></loading>
            </div>
    <ul class="list_style " ng-class="{ show : A3.length>0}" infinite-scroll='pagePublic()' infinite-scroll-disabled='isLoading' infinite-scroll-distance='3'>
        <a class="li_style" ng-repeat='list in A3' href="#/a3-1/{{list.id}}">
            <div class="info info_img">
                <img src="img/a3_list.png" />
            </div>
            <div class="info info_span">
                <p ng-bind-html="list.title"></p>
            </div>
            <div class="info info_icon">
                <img src="img/icon_right.png" alt="11" />
            </div>
        </a>
    </ul>
</div>
 -->
 <ion-view view-title="咭赏会" class="a3">

  <div taba>
</div>
  <ion-content>
    <div class="imgwrap">
      <img src="img/a3img1.jpg" alt="" class="a3img1">
      <div class="erweima">
        <p>长按识别图中二维码</p>
        <img src="img/weixin_erweima.png" alt="">
      </div>
      <div class="download">点击下载<img src="img/a3img4.png" alt="" class="a3img4"></div>
    </div>
    <section class="list-content">
      <div class="wrap1">
      <div class="wrap2">
        <h2><span>咭赏会</span>—与好友分享咭星坞的资讯、领取丰富奖品</h2>
        <ul>
          <li>给你关心的好友分享咭星坞的最新咨询，包括精彩的课程内容、男神成长历程、最新活动、育儿心得专家意见、亲子游；</li>
          <li>分享越多、获得的积分更多；</li>
          <li>到咭赏会查看你的积分、随时可用积分换领丰富礼品。</li>
        </ul>
      </div>
      </div>
    </section>
  </ion-content>

</ion-view>