<!-- <div class="c2">
    <div class="background_libaojie_img">
    <img src="img/dalibao.png" alt="" />
    <div class="img_font">
    五月大抽奖
    </div>
    <div class="img_foot_left">
    <img src="img/a4_list.png" alt="" />
    </div>
    <div class="img_foot_right">
    恭喜您！
    </div>
    <div class="img_foot_botton">
    您已获得咭星坞大号娃娃一只！
    </div>
    </div>


    <div class="winning_list">
        <div class="winning_list_title">奖品清单</div>
        <ul>
            <li ng-repeat="item in List" ng-class="{isActive:item.approval_status.is_active==0}"
                ng-click="clickGift(item.id)">
                <div class="info_flex_style">

                    <div class="info_left">
                        <img src="img/a4_list.png" alt=".."/>
                    </div>
                    <div class="info_body">
                        <p>{{item.location}}</p>

                        <p>{{item.title}}</p>

                        <p>{{item.created_dt | limitTo : 10}}</p>
                    </div>
                    <div class="info_right">
                        <span ng-if="item.approval_status.is_active==1" class="wait"> 待领奖</span>
                        <span ng-if="item.approval_status.is_active==0" class="expire"> 已失效</span>
                    </div>
                </div>

            </li>

        </ul>
        <article class="news_flex_style">
        <div class="info_flex_style" ng-repeat="item in List"
        ng-class="{isActive:item.approval_status.is_active==0}"
        ng-click="clickGift(item.id)">

        <div class="info_left">
        <img src="img/a4_list.png" alt=".."/>
        </div>
        <div class="info_body">
        <p>{{item.location}}</p>

        <p>{{item.title}}</p>

        <p>{{item.created_dt | limitTo : 10}}</p>
        </div>
        <div class="info_right">
        <span ng-if="item.approval_status.is_active==1" class="wait"> 待领奖</span>
        <span ng-if="item.approval_status.is_active==0" class="expire"> 已失效</span>
        </div>
        </div>


        </article>
    </div>
    <div class="content">
        <img src="img/gouzi.png"/>

        <div class="content_position">
            <img src="img/luck.png" alt=""/>
        </div>
        <div class="content_position_form">
            <h5>请填写您的资料</h5>

            <div class="input_style">
                <img src="img/name.png" alt=""/>
                <input type="text" name="name" id="name" ng-model="name" placeholder="姓名"/>
            </div>
            <div class="input_style">
                <img src="img/email.png" alt=""/>
                <input type="text" name="address" id="address" ng-model="address" placeholder="家庭地址"/>
            </div>

            <div class="input_style">
                <img src="img/tel.png" alt=""/>
                <input type="number" name="phone" id="phone" ng-model="phone" placeholder="联系电话"/>
            </div>
            <button ng-click="submits()">领取奖品</button>
            <p>*请选择兑换奖品</p>

            <p>＊请完善你的领奖信息</p>
        </div>
    </div>

</div> -->

   <ion-view view-title="我的奖赏" class="c2">

  <div tabc>
    </div>
  <ion-content>
    <div class="winning_list">
        <div class="winning_list_title">奖品清单</div>
        <ul>
            <li ng-repeat="item in List" ng-class="{isActive:item.approval_status.is_active==0}"
                ng-click="clickGift(item.id)">
                <div class="info_flex_style">

                    <div class="info_left">
                        <img src="img/a4_list.png" alt=".."/>
                    </div>
                    <div class="info_body">
                        <p>{{item.location}}</p>

                        <p>{{item.title}}</p>

                        <p>{{item.created_dt | limitTo : 10}}</p>
                    </div>
                    <div class="info_right">
                        <span ng-if="item.approval_status.is_active==1" class="wait"> 待领奖</span>
                        <span ng-if="item.approval_status.is_active==0" class="expire"> 已失效</span>
                    </div>
                </div>

            </li>

        </ul>
        <!--<article class="news_flex_style">-->
        <!--<div class="info_flex_style" ng-repeat="item in List"-->
        <!--ng-class="{isActive:item.approval_status.is_active==0}"-->
        <!--ng-click="clickGift(item.id)">-->

        <!--<div class="info_left">-->
        <!--<img src="img/a4_list.png" alt=".."/>-->
        <!--</div>-->
        <!--<div class="info_body">-->
        <!--<p>{{item.location}}</p>-->

        <!--<p>{{item.title}}</p>-->

        <!--<p>{{item.created_dt | limitTo : 10}}</p>-->
        <!--</div>-->
        <!--<div class="info_right">-->
        <!--<span ng-if="item.approval_status.is_active==1" class="wait"> 待领奖</span>-->
        <!--<span ng-if="item.approval_status.is_active==0" class="expire"> 已失效</span>-->
        <!--</div>-->
        <!--</div>-->


        <!--</article>-->
    </div>
    <div class="content">
        <img src="img/gouzi.png"/>

        <div class="content_position">
            <img src="img/luck.png" alt=""/>
        </div>
        <div class="content_position_form">
            <h5>请填写您的资料</h5>

            <div class="input_style">
                <img src="img/name.png" alt=""/>
                <input type="text" name="name" id="name" ng-model="name" placeholder="姓名"/>
            </div>
            <div class="input_style">
                <img src="img/email.png" alt=""/>
                <input type="text" name="address" id="address" ng-model="address" placeholder="家庭地址"/>
            </div>

            <div class="input_style">
                <img src="img/tel.png" alt=""/>
                <input type="number" name="phone" id="phone" ng-model="phone" placeholder="联系电话"/>
            </div>
            <button ng-click="submits()">领取奖品</button>
            <p>*请选择兑换奖品</p>

            <p>＊请完善你的领奖信息</p>
        </div>
    </div>

  </ion-content>

</ion-view>