 <ion-tabs class="tabs-icon-top  tab-menu">


 <ion-tab title="咭星坞" icon-off="icon-cat" icon-on="icon-cat" href="#/tab/a1">
   <ion-nav-view name="a1"></ion-nav-view>
 </ion-tab>


 <ion-tab title="育儿宝典" icon-off="icon-yuerbaodian" icon-on="icon-yuerbaodian" href="#/tab/b1">
   <ion-nav-view name="b1"></ion-nav-view>
 </ion-tab>


 <ion-tab title="活动专区" icon-off="icon-huodongzhuanqu" icon-on="icon-huodongzhuanqu" href="#/tab/c1_ng">
   <ion-nav-view name="c1"></ion-nav-view>
 </ion-tab>
</ion-tabs>



<!--   <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a class="tab-item active" href="#/tab/a1">
      <i class="icon ion-home"></i>
      Test
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</div>
<div class="tabs-striped tabs-color-assertive">
  <div class="tabs">
    <a class="tab-item active" href="#">
      <i class="icon ion-home"></i>
      Test
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</div> -->